<div class="full-background">
  <app-navbar></app-navbar>
  <div class="container mt-4">
    <h1 class="mb-4">Listado de Repartidores</h1>
    <div class="row">
      <div class="col">
        <ul class="list-group">
          <!-- Iterar sobre la lista de repartidores -->
          <li
            *ngFor="let repartidor of repartidores"
            class="list-group-item repartidor-item"
            (click)="selectRepartidor(repartidor)"
          >
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h5 class="mb-0">{{ repartidor.nombre }}</h5>
              </div>
            </div>
          </li>
          <!-- Fin de la iteración -->
        </ul>
      </div>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
      <app-detallerepartidor
        class="me-5"
        [repartidorSeleccionado]="repartidorSeleccionadoPadre"
      ></app-detallerepartidor>
      <app-detallebanderas
        [banderaSeleccionada]="banderaSeleccionadaPadre"
      ></app-detallebanderas>
    </div>
  </div>
</div>
