<div class="full-background">
  <app-navbar></app-navbar>
  <div class="d-flex justify-content-around">
    <div class="card mt-5" style="width: 18rem">
      <img
        src="/assets/delivery.png"
        class="card-img-top"
        alt="..."
        style="height: 250px"
      />
      <div class="card-body ms-5">
        <button
          type="button"
          class="btn btn btn-warning rounded-pill"
          (click)="irRepartidor()"
        >
          Crear repartidor
        </button>
      </div>
    </div>
    <div class="card mt-5" style="width: 18rem">
      <img
        src="/assets/delivery.png"
        class="card-img-top"
        alt="..."
        style="height: 250px"
      />
      <div class="card-body ms-5">
        <button
          type="button"
          class="btn btn btn-warning rounded-pill"
          (click)="irListaRepartidores()"
        >
          Lista de repartidores
        </button>
      </div>
    </div>
  </div>
</div>
